:root {
    --primary-color: #2E2F42;
    --secondary-color: #434455;
    --accent-color: #404BBF;
    --third-color: #4D5AE5;
    --icon-color: #8E8F99;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}